<table class="table table-striped m-3" id="companiesTable">

  <tr>
    <th class="mb-3 text-center">Tax identification number</th>
    <th class="mb-3 text-center">Address</th>
    <th class="mb-3 text-center">Name</th>
    <th class="mb-3 text-center">Pension insurance</th>
    <th class="mb-3 text-center">Health insurance</th>
  </tr>

  <tr class="my-3" *ngFor="let company of companies">
    <td *ngIf="!company.editMode">{{company.taxIdentificationNumber}}</td>
    <td *ngIf="company.editMode">
      <input [(ngModel)]="company.editedCompany!.taxIdentificationNumber" type="text" class="form-control" name="taxIdentificationNumber">
    </td>
    <td *ngIf="!company.editMode">{{company.address}}</td>
    <td *ngIf="company.editMode">
      <input [(ngModel)]="company.editedCompany!.address" type="text" class="form-control" name="address">
    </td>
    <td *ngIf="!company.editMode">{{company.name}}</td>
    <td *ngIf="company.editMode">
      <input [(ngModel)]="company.editedCompany!.name" type="text" class="form-control" name="name">
    </td>
    <td *ngIf="!company.editMode">{{company.pensionInsurance}}</td>
    <td *ngIf="company.editMode">
      <input [(ngModel)]="company.editedCompany!.pensionInsurance" type="text" class="form-control" name="pensionInsurance">
    </td>
    <td *ngIf="!company.editMode">{{company.healthInsurance}}</td>
    <td *ngIf="company.editMode">
      <input [(ngModel)]="company.editedCompany!.healthInsurance" type="text" class="form-control" name="healthInsurance">
    </td>
    <td>
      <button *ngIf="!company.editMode" (click)="deleteCompany(company)" class="btn btn-danger">Delete</button>
      <span *ngIf="!company.editMode" >&nbsp;</span>
      <button *ngIf="!company.editMode" (click)="triggerUpdate(company)" class="btn btn-secondary">Edit</button>

      <button *ngIf="company.editMode" (click)="updateCompany(company)" class="btn btn-primary">Update company</button>
      <span *ngIf="company.editMode" >&nbsp;</span>
      <button *ngIf="company.editMode" (click)="cancelCompanyUpdate(company)" class="btn btn-secondary" >Cancel</button>


    </td>
  </tr>

  <tr>
    <td><input [(ngModel)]="newCompany.taxIdentificationNumber" type="text" class="form-control" name="taxIdentificationNumber"></td>
    <td><input [(ngModel)]="newCompany.address" type="text" class="form-control" name="address"></td>
    <td><input [(ngModel)]="newCompany.name" type="text" class="form-control" name="name"></td>
    <td><input [(ngModel)]="newCompany.pensionInsurance" type="text" class="form-control" name="pensionInsurance"></td>
    <td><input [(ngModel)]="newCompany.healthInsurance" type="text" class="form-control" name="healthInsurance"></td>
    <td><input (click)="addCompany()"  type="button" class="btn btn-primary" value="Add comapny"></td>
  </tr>

</table>