.content-container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.main-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.invoice-details-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.invoice-details-row .form-group {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.invoice-details-row .form-group:last-child {
  margin-right: 0;
}

.invoice-entry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.btn-margin {
  margin-right: 10px;
}

  
  #InvoiceHeader {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .main-title {
    font-size: 24px;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    text-align: center;
  }
  
  .button-cell button {
    margin-right: 5px;
  }
  
  .new-entry-row input {
    width: 100%;
  }
  
  .new-entry-row button {
    margin-top: 5px;
  }
  
  